.projects{
    width: 100%;
}

.title1{
    color: #FFF;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 12px 66px 42px 20px;
}

.main__card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 24px;

    @media (max-width: 1024px){
        justify-content: center;    
    }
}

.card{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 1.5625rem;
    border: 2px solid rgba(255, 255, 255, 0.50);
    width: 26.5rem;
    flex-shrink: 0;
    padding: 2%;
}

.header__card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.git__icon{
    width: 25px;
    height: 25px;
}
