header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 24px;
    gap: 16px;

    @media (max-width: 425px){
        justify-content: center;
    }
}
.brand{
    width: 130px;
}

nav{
    display: flex;
    gap: 24px;
}

.title1{
    color: #FFF;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


h2{
    font-weight: bold;
    font-size: 40px;
}


.icons{
    width: 20px;
}

.boxIcons{
    background-color: transparent;
    display: flex;
    gap: 16px;
    padding:12px 0;
}